@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@media (max-width: 2560px) {
    .header{
        /* min-height: 1200px; */
    }
  }
*{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}

.container{
    max-width: 1190px;
    margin: 0 auto;
}
.btn{
    display: block;
    padding: 5px 15px;
    width: 120px;
}
.align-start{
    align-items: flex-start;
}


/* header */
.header{
    background: url('/img/bg-min2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 690px;
    background-position: bottom;
}
.header__logo{
    width: 100px;
}
.header__logo img{
    width: 100%;
}
.header__min{
    min-height: 150px;
    background: url('/img/bg-min2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* Стиль для откл блока */
.dn{
    display: none;
} 
/* Стиль для откл блока */

.header__head{
    display: flex;
    justify-content: right;
    align-items: center;
}
.linkpage{
    padding: 20px 35px;
}
.linkpage_l{
    font-size: 13px;
    font-weight: 400;
}
.linkpage__active{
    color: #ffa701;
    font-size: 16px;
    font-weight: 600;
}
.linkpage_l:hover{
    color: #ffa701;
    font-weight: 600;
}
.tel_number{
    border-bottom: 2px dashed #FFF;
    transition: all 0.5s ease;
    color: #fff;
}
.tel_number:hover{
    color: #fff;
    border-bottom: 2px dashed #fff;
}
.light{
    font-size: 12px;
}
.header__logo a{
    font-size: 18px;
    font-weight: 700;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.header__item{
    padding: 0 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}
.header__item_active{
    background: #93D410;
    background-image: linear-gradient(to top, #639400 0%, #a0e415 100%);
    border-radius: 3px;
    font-weight: 600px;
    box-shadow: 5px 5px 5px lightblue; 
    position: relative;
    display: block;
    padding: 5px 15px;
}
.header__item_active a{
    color: #fff;
}
.header__item_active::after{
    content: "";
    position:absolute ;
    top: -10px;
    right: -14px;
    background-image: url('../img/zerno.png');
    background-size: cover;
    background-position: center;
    width: 38px;
    height: 40px;
}
.header__item a:hover{
    color: inherit;
}


/* promo */
.header__promo{
    margin-top: 150px;
    padding: 50px 25px;
    text-align: center;
}
.header__h1{
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.header__h2{
    font-size: 30px;
    color: #ffa701;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

/* PROMO */

.header__promo{
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.header__promo::before{
    content: "";
    background-image: url(/img/promo-zerno1.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 40px;
    left: 100px;
    width: 250px;
    height: 150px;
}

/* about */
.about{
    padding: 70px 0;
}
.about__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about__item:first-child{
    min-width: 300px;
}
.about__title{
    font-size: 24px;
}
.about__item:last-child{
    padding-left: 20px;
}
.about__item img{
    width: 100%;
}

/* products */

.products{
    padding: 70px 0;
}
.products__title{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.products__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.products__item{
    max-width: 33.33%;
    padding: 40px 10px 0 10px;
}
.products__img{
    width: 250px;
    display: block;
    margin: 0 auto;
}
.products__img img{
    width: 100%;
}
.products__item_title{
    padding-top: 20px;
    font-weight: 600;
}
.products__item_title a{
    border-bottom: 1px solid #000;
}
.products__item_subtitle{
    padding-top: 20px;
}

/* footer */

.footer{
    background: #454545;
    padding: 10px 0;
}
.footer__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__img{
    width: 70px;
}
.footer__img img{
    width: 100%;
}
.footer__text{
    color: #fff;
}
.footer__right p{
    display: inline-block;
    color: #fff;
    padding: 0 10px 0 0;
}
.footer__right_img{
    width: 50px;
}


/* burger menu */

.burger__menu{
    display: none;
    position: relative;
    z-index: 51;
    justify-content: flex-end;
    width: 30px;
    align-items: center;
    height: 18px;
}
.burger__menu span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #faf6f2;
}
.burger__menu::before, .burger__menu::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #faf6f2;
    transition: all 0.3s ease 0s;
}
.burger__menu::before{
    top: 0;
}
.burger__menu::after{
    bottom: 0;
}

.burger__menu.active span{
    transform: scale(0);
}
.burger__menu.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.burger__menu.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

@keyframes burgerAnimation {
    from {opacity: 0;}
    to {
        opacity: 1;
    }
}

/* Адаптивная верстка сайта */

.open{
    display: flex !important;
}
@media (max-width: 990px) {
    .header__menu{
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 50px;
        background-color: black;
        animation: burgerAnimation 0.4s;
    }
    .header__item a{
        color: #fff;
    }
    .header__head{
        justify-content: space-between;
        padding: 20px 0;
    }
    .linkpage{
        padding: 0;
    }
    .container{
        padding: 0 10px;
    }
    .header{
        min-height: 500px;
    }
    /* .header__menu{
        display: none;
    } */
    .burger__menu{
        display: flex;
    }
    .header__logo{
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .header__promo{
        margin-top: 72px;
    }
    .header__promo::before{
        display: none;
    }
    .header__logo::after{
        content: '';
    }
    .header__h1{
        font-size: 26px;
    }
    .header__h2{
        font-size: 14px;
    }
  }
  @media (max-width: 770px) {
    .about{
        padding: 30px 0;
    }
    .products{
        padding: 30px 0;
    }
    .about__main{
        flex-direction: column;
    }
    .about__item:first-child{
        display: none;
    }
    .products__menu{
        flex-direction: column;
    }
    .products__item{
        max-width: 50%;
    }
    .footer__text{
        font-size: 12px;
    }
    .footer__right p{
        font-size: 12px;
    }
    .footer__rigth_img{
        width: 70px;
    }
  }

  @media (max-width: 500px) {
    .header__head{
        justify-content: space-between;
        padding: 20px 0;
    }
    .linkpage{
        padding: 0;
    }
    .products__item{
        min-width: 100%;
    }
    .products__img{
        width: 190px;
    }
    .footer__block{
        flex-direction: column;
    }
    .footer__right{
        padding-top: 10px;
    }
  }

